# raw reads
00_raw_reads/

# logs
logs/
*.log

# output dirs
**/output/*
01_assembly/output_rnaseq/

**/slurm_scripts/

utils/mitos2_db/refseq63m/

.DS_Store

# others
utils/finished.txt
utils/todo_list.txt
utils/filter_nex_samples.py
utils/32_sample_list.txt
**/32_data/
**/89_output/
tmp/

# unignore
!04_iqtree/output/luciola_mito.treefile

history.txt

