# raw reads
00_raw_reads/

# logs
logs/
*.log

# output dirs
**/output/*
**/plots/*
01_assembly/output_rnaseq/

**/slurm_scripts/

utils/mitos2_db/refseq63m/

.DS_Store

# others
utils/finished.txt
utils/todo_list.txt
utils/filter_nex_samples.py
utils/32_sample_list.txt
tmp/
06_mptp/data/*fasta

# unignore

history.txt

